<div class="modal fade" id="paymentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Invoice Payment</h4>
        <button type="button" class="close" (click)="hideModal()">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        **Something in here**
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Tender</button>
        <button type="button" class="btn btn-danger" (click)="hideModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>
